##############################################################################
# Load filament after swap
##############################################################################
[gcode_macro FILAMENT_SWAP_LOAD]
gcode:
  # Load 100mm in
  M83
  G1 E100 F600

  # Clear heatbreak Phase 1
  M83
  G1 E-5 F600
  G1 E5 F600
  G1 E-5 F600
  G1 E5 F600
  G1 E5 F600
  G1 E-5 F600

  # Extrude 
  M83
  G1 E50 F600

  # Clear heatbreak Phase 2
  M83
  G1 E-5 F600
  G1 E5 F600
  G1 E-5 F600
  G1 E5 F600
  G1 E5 F600
  G1 E-5 F600

  # Extrude 
  M83
  G1 E50 F600

  # Clear heatbreak Phase 3
  M83
  G1 E-5 F600
  G1 E5 F600
  G1 E-5 F600
  G1 E5 F600
  G1 E5 F600

  # Extrude 
  M83
  G1 E50 F600

  # Retract from pause macro
  {% set retract = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude|default(1.0)|float %}
  M83
  G1 E-{extrude} F2100
