[gcode_macro LOAD_MESH_TEMP]
default_parameter_BED_TEMPERATURE: 0
default_parameter_FORCE: 0
gcode:
    {action_respond_info("- AUTOMATED BED MESH GENERATOR -")}
    {% if BED_TEMPERATURE|int < 30 %}
        {action_respond_info("Your bed temp is to low, make sure it is at least 30 or higher")}
    {% else %}
        {% if printer.configfile.config["bed_mesh " + BED_TEMPERATURE] is defined and FORCE|int == 0 %}
            BED_MESH_PROFILE LOAD={BED_TEMPERATURE}
            G28 Z #because Z-Tilt #remove line if you ran G28 before starting this macro
            {action_respond_info("Succesfully loaded bed_mesh "+ BED_TEMPERATURE)}
        {% else %}
            {% if printer.configfile.config["bed_mesh " + BED_TEMPERATURE] is defined and FORCE|int == 1 %}
                BED_MESH_PROFILE REMOVE={BED_TEMPERATURE}
            {% endif %}
            {action_respond_info("bed_mesh not defined, your bed temperature will go up!")}
            {action_respond_info("We will probe the bed and save the mesh as bed_mesh "+ BED_TEMPERATURE)}
            ADD_BED_MESH TARGET_TEMP={BED_TEMPERATURE}
        {% endif %}
    {% endif %}

[gcode_macro ADD_BED_MESH]
default_parameter_TARGET_TEMP: 30
gcode:
    M190 S{TARGET_TEMP} # Wait for the bed to hit TARGET_TEMP
    BED_MESH_CALIBRATE
    #BED_MESH_PROFILE SAVE={TARGET_TEMP}

[gcode_macro PREHEATANDMESH]
variable_parameter_T_EXTRUDER: 0
variable_parameter_T_BED: 0
gcode:
    M104 S{T_EXTRUDER}
    M190 S{T_BED}
    G28
    M109 S{T_EXTRUDER}
    LOAD_MESH_TEMP BED_TEMPERATURE={T_BED}
    G28
    
[gcode_macro PREHEAT60]
gcode:
  PREHEATANDMESH T_BED=60 T_EXTRUDER=140

[gcode_macro PREHEAT80]
gcode:
  PREHEATANDMESH T_BED=80 T_EXTRUDER=140

[gcode_macro TEST]
gcode:
  G90
  G1 X20 Y20 Z10 F1600
  G1 X120 Y120 F1600
  G1 X200 Y120 F1600
  G1 X200 Y200 F1600
  G1 X20 Y180 F1600
  G1 X200 Y20 F1600
  