##############################################################################
# Resume paused print
##############################################################################
[gcode_macro RESUME]
rename_existing: RESUME_BASE
gcode:
  {% set extrude = printer['gcode_macro _USER_VARIABLE'].pause_retract %}
  {% set fan_nevermore = printer['gcode_macro _USER_VARIABLE'].fan_speed_nevermore %}
  {% set fan_chamber = printer['gcode_macro _USER_VARIABLE'].fan_target_chamber %}

  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}

  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
    SET_FAN_SPEED FAN=nevermore SPEED={fan_nevermore}
    SET_TEMPERATURE_FAN_TARGET temperature_fan=enclosure_fan TARGET={fan_chamber}
    SET_LED LED=hotend_led WHITE=1.00 SYNC=0 TRANSMIT=1
    M117 Printing...
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  RESUME_BASE {get_params}