[delayed_gcode _CHECK_CONFIG]
initial_duration: 0.1
gcode:
  ### Aktiviere Grundeinstellungen
  SET_FAN_SPEED FAN=electronic_bay_fan SPEED=1

  ## _USER_VARIABLE einmal beim starten ausführen
  {% if printer['gcode_macro _USER_VARIABLE'] is not defined %}
    { action_respond_info(
      "CONFIG: ERROR\n"
      "_USER_VARIABLE macro missing\n"
      "This holds common variables for your printer and must be defined") }
  {% else %}
    _USER_VARIABLE
    SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=led_shift_color VALUE=1
    UPDATE_DELAYED_GCODE ID=_LED_SHIFT_SEQUENCE DURATION=0.1
  {% endif %}