################################################
## INCLUDE aller Dateien im Ordner
################################################

[include boot.cfg]
[include defaults.cfg]
[include homing.cfg]
[include neopixel.cfg]
[include partcoolingfan.cfg]
[include startend.cfg]
[include test_move.cfg]
[include timelapse.cfg]
[include user_macros.cfg]
[include user_variables.cfg]

