################################################
## STEPPER
################################################

[stepper_x]
step_pin: P1.4
dir_pin: P1.8
enable_pin: !P1.0
microsteps: 32
rotation_distance: 40
endstop_pin: ^P1.29
position_endstop: 120
position_max: 120
homing_speed: 20   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[stepper_y]
step_pin: P1.14
dir_pin: P1.15
enable_pin: !P1.9
microsteps: 32
rotation_distance: 40
endstop_pin: ^P1.28
position_endstop: 118
position_max: 118
homing_speed: 20   #Max 100
homing_retract_dist: 5
homing_positive_dir: true


[stepper_z]
step_pin: P4.29
dir_pin: P4.28
enable_pin: !P1.16
rotation_distance: 8 #for T8x8 lead screw
microsteps: 32
endstop_pin: ^P1.27
position_endstop: 0
position_max: 100
position_min: -1
homing_speed: 10   #Max 100
second_homing_speed: 3.0
homing_retract_dist: 3.0