################################################
## BASIC
################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_01000005C0846AAFCEB5555EC52000F5-if00

[printer]
kinematics: corexy
max_velocity: 200               # 500
max_z_velocity: 10
max_z_accel: 20
square_corner_velocity: 5.0
max_accel: 2000
#max_accel: 7000
#max_accel_to_decel: 7000

################################################
## EXTRUDER AND BED
################################################

[extruder]
step_pin: P2.6
dir_pin: P2.7
enable_pin: !P0.4
microsteps: 16
rotation_distance: 22.565011
gear_ratio: 50:10
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.3
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.24
#control = pid
#pid_kp = 26.377
#pid_ki = 2.198
#pid_kd = 79.130
min_temp: 0
max_temp: 270
min_extrude_temp: 0
max_extrude_only_distance: 780.0
max_extrude_cross_section: .8
Pressure_advance: 0.0
pressure_advance_smooth_time: 0.040

[heater_bed]
heater_pin: P1.24
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: P0.25
smooth_time: 3.0
max_power: 1.0
pwm_cycle_time: 0.016
#control = pid
#pid_kp = 38.662
#pid_ki = 1.868
#pid_kd = 200.076
min_temp: 0
max_temp: 120

[stepper_z]
step_pin: P4.29
dir_pin: P4.28
enable_pin: !P1.16
rotation_distance: 8 #for T8x8 lead screw
microsteps: 32
endstop_pin: ^P1.27
#position_endstop: 0
position_max: 110
position_min: -1
homing_speed: 10   #Max 100
second_homing_speed: 3.0
homing_retract_dist: 3.0

################################################
## BOARD
################################################

[include printerconfig/index.cfg]

################################################
## EXTRAS
################################################ 

[idle_timeout]
timeout: 1800

[homing_override]
axes: z
set_position_z: 0
gcode:
   G90
   G0 Z5 F600
   G28 X Y
   G0 X30 Y0 F3600 
   
   G28 Z
   G0 Z10 F1800
   G0 X60 Y60 Z20 F3600

[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

[input_shaper]
shaper_freq_x: 104
shaper_type_x: mzv
shaper_freq_y: 56
shaper_type_y: mzv


[respond]
default_type: command

################################################
## MISC
################################################ 

[virtual_sdcard]
path: ~/gcode_files

################################################
## MACROS
################################################ 

[include macros/index.cfg]

################################################
## SAVE_CONFIG AUTOMATIC
################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 61.227
#*# pid_ki = 4.297
#*# pid_kd = 218.123
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.324
#*# pid_ki = 2.273
#*# pid_kd = 94.570
#*#
#*# [stepper_z]
#*# position_endstop = 0.145
